* {
    box-sizing: border-box;
    font-family: "Roboto";
    padding: 0px;
    margin: 0px;
}

.bookshelf {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    padding: 40px;
}

.tile {
    display: flex;
    gap: 4px;
    height: 16rem;
    background-color: #F0F1F2;
    border-radius: 1rem; 
}

.tile > img {
    max-width: 25%;
    border-radius: 12px;
}

.title {
    font-weight: bold;
}

.svg {
    width: 16px;
}

.info {
    display: flex;
    gap: 1rem;
    justify-items: center;
}

.container{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 12px;
    overflow: auto;
}

.read {
    background-color: rgb(233, 234, 235);
    border: none;
    padding: 0.2rem 0.6rem;
    border-radius: 0.2rem;
}

.read:hover {
    background-color: rgb(213, 214, 215);
}

.remove {
    background-color: rgb(233, 234, 235);
    color: white;
    background-color: rgb(226, 126, 60);
    border: none;
    padding: 0.2rem 0.6rem;
    border-radius: 0.2rem;
}

.remove:hover {
    background-color: rgb(206, 106, 40);
}

.control {
    display: flex;
    gap: 1rem;
}
